@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');



body{
    background-color: #F3F5FC; 
}

ul{
    display: inline-block;
    
}


.col1{
    height: 95vh;
    width: 70%;
    margin-top: 40px;
    box-sizing: border-box;
    
}

li textarea{ 
    width: 70%;
    height: 80%; 
    border: none;
    outline: none; 
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    color:#0A3871;
    background-color: #F3F5FC;
    
}

textarea::placeholder{
    color:#0A3871;
    
}

.subfila{
    margin-left: 15%;
}

#fila1-col1{
    height: 14vh;
}

#fila2-col1{
    height: 62vh; 
      
}

#fila3-col1 {
    height: 4vh;
    font-family: 'Inter', sans-serif;
    font-size: 18px;   
}

#fila4-col1{
    height: 15vh;
}

#fila4-col1 ul{
    width: 100%;
}

#fila4-col1 li{      
    display: inline-block;  
    width: 40%;
}

#fila4-col1 button{
    width: 95%;
    height: 67px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    margin-right: 24px;
    border-radius: 24px;
    border-color: #0A3871;
}

#botonEncriptar{
    color: #D8DFE8;
    background-color: #0A3871;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.3);
}

#botonDesencriptar{
    color: #0A3871;
    background-color: #D8DFE8;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.3);
}

.col2{
    margin-top: 40px;
    height: 95vh;
    text-align: center;    
    width: 30%;
    align-items: center;
    position: absolute;
}

.contenidoCol2 {
    height: 95%;
    background-color: white;
    border-radius: 32px;
    margin-right: 40px;
    margin-bottom: 40px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
}


#fila1-col2{
    height: 85%;
    position: relative;
    text-align: center;
}


#textoRevelado{
        max-width: 80%;
        font-family: 'Inter', sans-serif;
        overflow: hidden;
        word-wrap: break-word;
        margin: 0px auto 0px auto;
        padding-top: 50px;
        display: none;
}

#muñeco{
    margin: 0 auto;
    height: 95%;
    align-content: center;
    display: inline-grid;
}


.col2 img{
    margin: 0 auto;
    width: 80%;
}

.col2 h1{
    text-align: center;
    margin: 0 auto;
    font-size: 28px;
    font-weight: 800;
    font-family: 'Inter', sans-serif;
}

.col2 p{
    text-align: center;    
    max-width: 80%;
    overflow: hidden;
    word-wrap: break-word;
    margin: 20px auto 0px auto;
    padding-bottom: 30px;
    font-size: 22px;    
    font-family: 'Inter', sans-serif;
}

#parrafo{
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
}



#fila2-col2{
    height: 15%;
    text-align: center;
}

#fila2-col2 button{
    width: 70%;
    height: 67px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #0A3871;
    border-color: #0A3871;
    background-color: white;
    border-radius: 24px;
    display: none;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width : 769px) and (max-width : 1024px){
    ul{
        display: inline;
    }

    .div1{
        width: 100vw;
        height: 700px;
        margin-top: 40px;
    }

    .col1{
        padding-left: 0px;
        width: 100%;
    }    

    .subfila{
        margin-left: 10vw;
    }

    #fila1-col1 img{
        margin-left: 5vw;
    }

    #fila1-col1 {
        height: 100px;
    }

    #fila2-col1{
        height: 450px;
        width: 80vw; 
          
    }

    #fila3-col1 {
        height: 40px;
        width: 80vw;  
    }

    li textarea {
        width: 80vw;
        height: 90%;
        font-size: 25px;
    }

    #fila4-col1 li{
        width: 45%;
    } 


    .col2{
        position: relative;
        height: auto;
        width: 100%;
    }

    .col2 div {  
        width: 80%;      
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    #muñeco img{
        display: none;
    }

    #textoRevelado{
        padding-top: 25px;
    }

    #fila2-col2 button{
        margin-top: 30px;
        margin-bottom: 50px;
        height: 50px;
        font-size: 18px;
    }
    
}

@media screen and (max-width : 768px){

    ul{
        display: inline;
    }

    .div1{
        margin-top: 25px;
        margin-left: 0px;
    }

    .col1{
        width: 100%;
        margin-bottom: 150px;

    }

    .subfila{
        margin-left: 10vw;
    }

    #fila1-col1{
        height: 80px;
    }

    #fila1-col1 img{
        width: 100px;
    }

    #fila2-col1{
        height: 70vw;
          
    }

    li textarea {
        width: 80vw;
        height: 90%;
        
        font-size: 25px;
    }
    
    #fila3-col1 {
        height: 40px;
        width: 80vw;  
    }
    
    #fila4-col1{
        height: 150px;
    }

    #fila4-col1 li{
        display: inline-block;
        width: 80vw;
        margin-bottom: 10px;
    } 

    #fila4-col1 button {
        width: 80vw;
        margin-right: 0px;
        height: 50px;
        font-size: 18px;
    }

    .col1{
        height: 600px;
    }

    .col2{
        padding-top: 100px;
        position: relative;
        height: auto;
        width: 100%;
    }

    .col2 div {  
        width: 80%;      
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    #muñeco{
        margin: 0 auto;
    }

    #fila1-col2{
        height: 85%;
        margin-top: 30px;
        position: relative;
        text-align: center;
    }


    #muñeco img{
        display: none;
    }

    #textoRevelado{
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #fila2-col2 button{
        margin-top: 30px;
        margin-bottom: 50px;
        height: 50px;
        font-size: 18px;
    }
    
}
